[data-cmdk-root] {
    background: var(--gray2);
    border: 1px solid var(--gray6);
    width: 640px;
    border-radius: 12px;
    box-shadow: var(--shadow) 0px 16px 70px 0px;
    user-select: none;
    max-width: calc(100% - 24px);
}

[data-cmdk-input] {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 16px;
}

[data-cmdk-input]::placeholder {
    color: var(--gray9);
}

[data-cmdk-list] {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--gray4) transparent;
    transition: height 0.3s ease, padding 0.3s ease, border 0.3s ease;
}

[data-cmdk-root][data-open="false"] [data-cmdk-list] {
    height: 0;
    padding: 0 8px 0;
    border-top: 1px solid transparent;
}

[data-cmdk-root][data-open="true"] [data-cmdk-list] {
    height: 393px;
    padding: 12px 8px 8px;
    border-top: 1px solid var(--gray6);
}

[data-cmdk-group-heading] {
    font-size: 12px;
    color: var(--gray11);
    padding: 0 8px;
}

[data-cmdk-item] {
    cursor: pointer;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 8px;
    color: var(--gray12);
    transition: backround 0.15s ease;
}

[data-cmdk-item]:first-child {
    margin-top: 8px;
}

[data-cmdk-item]+[data-cmdk-item] {
    margin-top: 4px;
}

[data-cmdk-item][data-selected="true"] {
    background: var(--gray4);
}

[data-cmdk-item][data-disabled="true"] {
    color: var(--gray8);
    cursor: not-allowed;
}

[data-cmdk-empty] {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    color: var(--gray11);
}

:not([hidden])+[data-cmdk-group] {
    margin-top: 8px;
}

[data-cmdk-item] svg,
[data-cmdk-item] img {
    width: 20px;
    height: 20px;
}

[data-cmdk-input-wrapper] {
    display: flex;
}

[data-cmdk-input-wrapper][data-back="false"] [data-cmdk-back] {
    display: none;
}

[data-cmdk-input-wrapper][data-back="true"] [data-cmdk-back] {
    background: transparent;
    border: none;
    outline: none;
    width: 3.1875rem;
    height: 3.1875rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-cmdk-back] svg {
    height: 20px;
    width: 20px;
}

[data-cmdk-input-wrapper][data-back="true"] [data-cmdk-input] {
    padding-left: 0;
}